
.terrible {
	background-color: green;
}



td.one {
	background-color: #FF9999;
}
td.two {
	background-color:#80B2FF;
}
td.three {
	background-color:#ADEBAD;
}
td.four {
	background-color:#FFFF80;
}
td.five {
	background-color:#FFCC80;
}